Associate/target/classes/META-INF/maven/com.revature/Contact/pom.properties
Associate/target/classes/META-INF/MANIFEST.MF
Associate/target/classes/META-INF/maven/com.revature/Contact/pom.properties
Associate/target/classes/META-INF/maven/com.revature/Contact/pom.properties