<md-dialog aria-label="">
<form name="createResidentForm" ng-submit="createResidentFormSubmit()"
	ng-cloak>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Create Resident</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <ng-icon
			icon="close" aria-label="Close dialog">
		</md-icon></md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<h2>New Resident</h2>

		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>First Name</label> 
				<input ng-model="resident.firstName" required> 
			</md-input-container>
		</div>

		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Last Name</label> 
				<input ng-model="resident.lastName" required> 
			</md-input-container>
		</div>
		
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Email</label> 
				<input ng-model="resident.email" type="email" required> 
			</md-input-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row"> 
	<md-button class="md-button" ng-click="cancel()">CANCEL</md-button> 
		<md-button type="submit" class="md-raised md-primary">CREATE</md-button> </md-dialog-actions>
</form>
</md-dialog>



