<md-dialog aria-label="">
<form name="assignResidentFomr" ng-submit="assignResidentForm()"
	ng-cloak>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Add Resident</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <ng-icon
			icon="close" aria-label="Close dialog">
		</md-icon></md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<md-list>
			<span ng-repeat="resident in residents" >
		 	<md-list-item class="md-3-line noright" ng-if="!resident.apartment && resident.residentId" >
		 		<md-icon class="md-avatar"> <ng-md-icon icon="person"></ng-md-icon></md-icon>
				<div class="md-list-item-text" >
					<h3>{{resident.firstName}} {{resident.lastName}}</h3>
					<p>{{resident.phone}}</p>
					<p>{{resident.email}}</p>
				</div>
				<md-button class="md-secondary ng-icon-button" ng-disabled="resident.apartment" ng-click="assignResident(resident.residentId)">ASSIGN</md-button>
			</md-list-item>
			</span>
         </md-list>
	</md-dialog-content>

</form>
</md-dialog>



