<md-dialog aria-label="">
<form name="importResidentForm" ng-submit="importResidentFormSubmit(formData)"
	ng-cloak enctype="multipart/form-data">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Create Associate</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <ng-icon
			icon="close" aria-label="Close dialog">
		</md-icon></md-button>
	</div>
	</md-toolbar>

	<md-dialog-content flex="100%">
	<div class="md-dialog-content">
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<input ng-model='file' type="file" ng-model="formData.file"/>
			</md-input-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row"> 
	<md-button class="md-button" ng-click="cancel()">CANCEL</md-button> 
		<md-button type="submit" class="md-raised md-primary">IMPORT</md-button> </md-dialog-actions>
</form>
</md-dialog>



