<md-dialog aria-label="">
<form name="newApartmentForm" ng-submit="newApartmentFormSubmit()"
	ng-cloak>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h3>Create Apartment</h3>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <ng-icon
			icon="close" aria-label="Close dialog">
		</md-icon></md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Apartment Number</label> 
				<input ng-model="apartment.apartmentNumber" required> 
			</md-input-container>
		</div>

		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Capacity</label> 
				<input ng-model="apartment.capacity" type="number" required> 
			</md-input-container>
		</div>
	</md-dialog-content>

	<md-dialog-actions layout="row"> 
	<md-button class="md-button" ng-click="cancel()">CANCEL</md-button> 
		<md-button type="submit" class="md-raised md-primary">CREATE</md-button> </md-dialog-actions>
</form>
</md-dialog>



