md-content, body {
    background-color: #eee !important;
}

md-card {
    background-color: #fff;
}
md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom :last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}
md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}


.md-button.md-default-theme.md-fab, .md-button.md-fab{
    background-color: #FF5722;
}

.md-button.md-default-theme.md-fab:hover, .md-button.md-fab:hover, .md-button.md-default-theme.md-fab:not([disabled]):focus
{
    background-color: #D84315 !important;
}

.md-button.md-fab
{
    line-height: 68px !important;
}

.ng-icon-button{
    line-height:10px !important;
    min-width: 0px !important;

}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon
{
	background: #FF5722;
}

