<md-content class="md-padding" layout layout-wrap layout-gt-sm="column" layout-xs="column" layout-fill >
    <div >
        <div  class="container" layout="row" layout-align="center"  flex >

           <md-card flex="40" style="padding:10px;">
               <md-card-content layout-gt-lg="column" layout="column" layout-align="" style=" margin:40px auto; text-align: center" >
                    <span class="md-display-1 md-primary" style="color: #FF5722 ">REVATURE</span>
                    <img src="../imgs/rhms.png" style="max-width: 150px; margin: 0 auto;">
                    <h1 class="md-title" >Housing Online Management Enterprise System</h1>
                    <br>
                    <br>
                    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=237895291120.241002501221"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
               </md-card-content>
                <span style="text-align:center;">OR</span>
                <br>
                <md-card-content style="margin:0px auto; min-width: 400px; "  >

                   <form name="loginForm">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Username</label>
                                <input ng-model="user.username" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Password</label>
                                <input ng-model="user.password" type="password" required>
                            </md-input-container>
                        </div>
                        <md-card-actions layout="row" layout-align="center center">
                            <md-button class="md-button md-raised md-primary" style="width:100%;">LOGIN</md-button>
                        </md-card-actions>
                    </form>

               </md-card-content>
            </md-card>


       </div>
    </div>
</md-content>