<md-toolbar ng-show="!showSearch">
<div class="md-toolbar-tools">
	<md-button ng-click="toggleSidenav('left')" hide-gt-md
		aria-label="Menu"> <ng-md-icon icon="menu"></ng-md-icon> </md-button>
	<h3>Resources</h3>
	<span flex></span>
	<md-button aria-label="Search" ng-click="showSearch = !showSearch">
	<ng-md-icon icon="search"></ng-md-icon> </md-button>
	<md-button aria-label="Open Settings"
		ng-click="showListBottomSheet($event)"> <ng-md-icon
		icon="more_vert"></ng-md-icon> </md-button>
</div>

</md-toolbar>

<md-toolbar class="md-hue-1" ng-show="showSearch">
<div class="md-toolbar-tools">
	<md-button ng-click="showSearch = !showSearch" aria-label="Back">
	<ng-md-icon icon="arrow_back"></ng-md-icon> </md-button>
	<h3 flex="10">Back</h3>
	<md-input-container md-theme="input" flex> <label>&nbsp;</label>
	<input ng-model="search.who" placeholder="enter search"> </md-input-container>
	<md-button aria-label="Search" ng-click="showSearch = !showSearch">
	<ng-md-icon icon="search"></ng-md-icon> </md-button>
	<md-button aria-label="Open Settings"
		ng-click="showListBottomSheet($event)"> <ng-md-icon
		icon="more_vert"></ng-md-icon> </md-button>
</div>
</md-toolbar>

<md-content class="md-padding">
<div layout layout-wrap layout-gt-sm="row" layout="column">
	<div flex-sm="100" flex-xs="100" class="container">


		<div flex flex-sm="100" flex-xs="100" class="container" ng-cloak
			ng-if="!error">
			<md-card layout="column"> <md-card-title>
			<md-card-title-text> <span class="md-headline">Payment
			</span> <span class="small">ADP</span> </md-card-title-text> </md-card-title> <md-card-content>
			<a href="https://my.adp.com/static/redbox/login.html" target="_blank">https://my.adp.com/static/redbox/login.html</a>
			</md-card-content> </md-card>
		</div>
	</div>

	<div flex-sm="100" flex-xs="100" class="container">


		<div flex flex-sm="100" flex-xs="100" class="container" ng-cloak
			ng-if="!error">
			<md-card layout="column"> <md-card-title>
			<md-card-title-text> <span class="md-headline">Benefits
			</span> <span class="small">ADP</span> </md-card-title-text> </md-card-title> <md-card-content>
			<a href="https://workforcenow.adp.com/public/index.htm"
				target="_blank">https://workforcenow.adp.com/public/index.htm</a> </md-card-content> </md-card>
		</div>
	</div>

	<div flex-sm="100" flex-xs="100" class="container">


		<div flex flex-sm="100" flex-xs="100" class="container" ng-cloak
			ng-if="!error">
			<md-card layout="column"> <md-card-title>
			<md-card-title-text> <span class="md-headline">LMS
			</span> <span class="small">Revature Learning Management System</span> </md-card-title-text> </md-card-title> <md-card-content>
			<a href="http://lms.revature.com/login/index.php" target="_blank">http://lms.revature.com/login/index.php</a>
			</md-card-content> </md-card>
		</div>
	</div>


	<div flex-sm="100" flex-xs="100" class="container">


		<div flex flex-sm="100" flex-xs="100" class="container" ng-cloak
			ng-if="!error">
			<md-card layout="column"> <md-card-title>
			<md-card-title-text> <span class="md-headline">Time
				Sheet </span> <span class="small">mv.force</span> </md-card-title-text> </md-card-title> <md-card-content>
			<a href="https://mv.force.com/revature/reLogin" target="_blank">https://mv.force.com/revature/reLogin</a>
			</md-card-content> </md-card>
		</div>
	</div>

	<div flex-sm="100" flex-xs="100" class="container">


		<div flex flex-sm="100" flex-xs="100" class="container" ng-cloak
			ng-if="!error">
			<md-card layout="column"> <md-card-title>
			<md-card-title-text> <span class="md-headline">Reimbursements
			</span> <span class="small">mv.force</span> </md-card-title-text> </md-card-title> <md-card-content>
			<a href="https://mv.force.com/revature/reLogin" target="_blank">https://mv.force.com/revature/reLogin</a>
			</md-card-content> </md-card>
		</div>
	</div>

	<div flex-sm="100" flex-xs="100" class="container">


		<div flex flex-sm="100" flex-xs="100" class="container" ng-cloak
			ng-if="!error">
			<md-card layout="column"> <md-card-title>
			<md-card-title-text> <span class="md-headline">Pay
				Card </span> <span class="small">Rapid Pay Card</span> </md-card-title-text> </md-card-title> <md-card-content>
			<a href="https://portal.cardaccesssite.com/web/rapid/login"
				target="_blank">https://portal.cardaccesssite.com/web/rapid/login</a>
			</md-card-content> </md-card>
		</div>
	</div>
</div>


</md-content>