<md-button class="md-fab md-fab-bottom-right" aria-label="FAB" ng-click="showAssignResidentForm()"  ng-if="rootUser.isManager">
   <ng-md-icon icon="add" class="md-icon"></ng-md-icon>
</md-button>
<md-toolbar ng-show="!showSearch">
   <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
         <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <h3><span ng-if="unit.buildingNumber">Building {{unit.buildingNumber}}</span> Unit {{unit.unitNumber}}</h3>
      <span flex></span>
   </div>
</md-toolbar>
<md-content class="md-padding" >
   <div layout layout-wrap layout-gt-sm="row" layout="column" >
      <div flex="60" flex-sm="100" flex-xs="100" class="container">
         <div layout="row" layout-sm="column" layout-align="space-around" ng-if="error">
            <h2>404 - Apartment not found</h2>
         </div>
         <md-card ng-if="!error && !unit" >
            <md-toolbar class="md-hue-1" >
               <div class="md-toolbar-tools">
                  <md-input-container md-theme="input" flex="20" >
                     <div class="animated-background">&nbsp;</div>
                  </md-input-container>
               </div>
            </md-toolbar>
            <md-divider></md-divider>
            <img style=" min-height:400px; background: #eee;" >
            <md-card-content layout-gt-md="row" layout="column" >
               <md-list class="md-dense" flex>
                  <md-list-item class="md-2-line" >
                     <md-icon>
                        <ng-md-icon icon="phone"></ng-md-icon>
                     </md-icon>
                     <div class="md-list-item-text" >
                        <div class="animated-background" flex="50">&nbsp;</div>
                        <p> PHONE</p>
                     </div>
                  </md-list-item>
                  <md-list-item class="md-2-line" >
                     <md-icon>
                        <ng-md-icon icon="mail"></ng-md-icon>
                     </md-icon>
                     <div class="md-list-item-text" >
                        <div class="animated-background" flex="30">&nbsp;</div>
                        <p> EMAIL</p>
                     </div>
                  </md-list-item>
               </md-list>
               <md-list class="md-dense" flex>
                  <md-list-item class="md-2-line" >
                     <md-icon>
                        <ng-md-icon icon="place"></ng-md-icon>
                     </md-icon>
                     <div class="md-list-item-text" >
                        <div class="animated-background" flex="90">&nbsp;</div>
                        <p> ADDRESS</p>
                     </div>
                  </md-list-item>
                  <md-list-item class="md-2-line" >
                     <md-icon>
                        <ng-md-icon icon="public"></ng-md-icon>
                     </md-icon>
                     <div class="md-list-item-text" >
                        <div class="animated-background" flex="50">&nbsp;</div>
                        <p> WEBSITE</p>
                     </div>
                  </md-list-item>
               </md-list>
            </md-card-content>
         </md-card>
         <md-card ng-if="!error && unit" >
            <md-toolbar class="md-hue-1" >
               <div class="md-toolbar-tools">
                  <md-card-title-text ui-sref="home.editComplex({complexId: unit.complex.complexId})" >
                     <div class="md-headline" >Unit {{unit.unitNumber}} - {{unit.complex.name}} </div>
                  </md-card-title-text>
                  <md-input-container md-theme="input" flex>
                     <label>&nbsp;</label>
                  </md-input-container>
                  <span ng-if="rootUser.isManager">
                     <md-button class="ng-icon-button" ng-click="showEditApartmentForm()" >
                        <ng-md-icon icon="edit"></ng-md-icon>
                     </md-button>
                     <md-button class="ng-icon-button" ng-click="showConfirm()" >
                        <ng-md-icon icon="delete"></ng-md-icon>
                     </md-button>
                  </span>
               </div>
            </md-toolbar>
            <md-divider></md-divider>
            <img ng-src="{{unit.complex.photoUrl}}" class="md-card-image" alt="" style=" min-height:400px; background: #eee;" >
            <md-card-content layout-gt-md="row" layout="column" >
               <md-list class="md-dense" flex>
                  <md-list-item class="md-2-line" >
                     <md-icon>
                        <ng-md-icon icon="phone"></ng-md-icon>
                     </md-icon>
                     <div class="md-list-item-text" >
                        <h3> {{unit.complex.phone}}</h3>
                        <p> PHONE</p>
                     </div>
                  </md-list-item>
                  <md-list-item class="md-2-line" >
                     <md-icon>
                        <ng-md-icon icon="mail"></ng-md-icon>
                     </md-icon>
                     <div class="md-list-item-text" >
                        <h3>{{unit.complex.email}}</h3>
                        <p> EMAIL</p>
                     </div>
                  </md-list-item>
               </md-list>
               <md-list class="md-dense" flex>
                  <md-list-item class="md-2-line" >
                     <md-icon>
                        <ng-md-icon icon="place"></ng-md-icon>
                     </md-icon>
                     <div class="md-list-item-text" >
                        <h3>{{unit.complex.address}}</h3>
                        <p> ADDRESS</p>
                     </div>
                  </md-list-item>
                  <md-list-item class="md-2-line" >
                     <md-icon>
                        <ng-md-icon icon="public"></ng-md-icon>
                     </md-icon>
                     <div class="md-list-item-text" >
                        <h3>{{unit.complex.website}} </h3>
                        <p> WEBSITE</p>
                     </div>
                  </md-list-item>
               </md-list>
            </md-card-content>
         </md-card>
         <md-card layout="column" ng-if="rootUser.isManager && !error">
            <md-card-title>
               <md-card-title-text >
                  <span class="md-headline">Announcement</span>
                  <span class="md-subtitle">Send announcement to Apartment</span>
               </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <form name="sendAnnouncementForm" ng-submit="sendAnnouncementFormSubmit()">
               <md-input-container  class="md-block">
                  <label>Announcement</label>
                  <textarea ng-model="$parent.aptannouncement" md-maxlength="150" rows="3" md-select-on-focus></textarea>
               </md-input-container>
               <md-card-actions layout="row" layout-align="end center">
                  <md-button type="submit" ng-disabled="!aptannouncement" class="md-flat md-primary">SEND</md-button>
               </md-card-actions>
            </form>
         </md-card>
         <md-card layout="column" ng-if="maintenanceRequests">
            <md-card-title>
               <md-card-title-text >
                  <span class="md-headline">Maintenance Requests </span>
               </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-list flex >
               <md-virtual-repeat-container id="vertical-container" style="height: 400px;">
                  <div md-virtual-repeat="maintenance in maintenanceRequests" class="repeated-item" flex>
                     <md-list-item class="md-3-line noright">
                        <md-icon class="md-avatar">
                           <ng-md-icon icon="build" ></ng-md-icon>
                        </md-icon>
                        <div class="md-list-item-text"  >
                           <h3 ><strong>{{maintenance.type}}</strong> {{maintenance.location}}</h3>
                           <p> {{maintenance.description}}</p>
                           <p>{{maintenance.submitDate | date}} - {{maintenance.resolveDate | date:formatted}}</p>
                        </div>
                     </md-list-item>
                  </div>
               </md-virtual-repeat-container>
            </md-list>
         </md-card>
         <md-card layout="column" ng-if="supplyRequests">
            <md-card-title>
               <md-card-title-text >
                  <span class="md-headline">Supply Requests </span>
               </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-list flex >
               <md-virtual-repeat-container id="vertical-container" style="height: 400px;">
                  <div md-virtual-repeat="supply in supplyRequests" class="repeated-item" flex>
                     <md-list-item class="md-3-line noright" >
                        <md-icon class="md-avatar">
                           <ng-md-icon icon="shopping_cart" ></ng-md-icon>
                        </md-icon>
                        <div class="md-list-item-text"  >
                           <h3 ><strong>{{supply.name}}</strong> </h3>
                           <p>Requested on: {{supply.submitDate| date}}</p>
                           <p>Delivered: {{supply.resolveDate | date}} </p>
                        </div>
                     </md-list-item>
                  </div>
               </md-virtual-repeat-container>
            </md-list>
         </md-card>
      </div>
      <br>
      <br>
      <div flex flex-sm="100" flex-xs="100" class="container"  ng-if="!error">
         <md-card layout="column" >
            <md-card-title>
               <md-card-title-text >
                  <span class="md-headline">Associates </span>
                  <span class="small" ng-cloak>{{associates.length}} of {{unit.capacity}} associates</span>
               </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-list flex ng-if="unit">
               <md-list-item class="md-3-line noright" ng-repeat="associate in associates" ui-sref="home.showAssociate({associateId: associate.associateId})">
                  <md-icon class="md-avatar">
                     <ng-md-icon icon="person" ></ng-md-icon>
                  </md-icon>
                  <div class="md-list-item-text" >
                     <h3> {{associate.firstName}} {{associate.lastName}}</h3>
                     <span ng-if="rootUser.isManager">
                        <p> {{associate.phone}}</p>
                        <p> {{associate.email}}</p>
                     </span>
                  </div>
                  <md-button class="md-secondary ng-icon-button" ng-click="showRemoveResidentConfirm(associate.associateId)"  ng-if="rootUser.isManager">
                     <ng-md-icon icon="delete"></ng-md-icon>
                  </md-button>
               </md-list-item>
            </md-list>
         </md-card>
         <md-card layout="column">
            <iframe width="100%" height="450" id="complexMap" frameborder="0" style="border:0" src="" allowfullscreen></iframe>
         </md-card>
      </div>
   </div>
</md-content>