<md-toolbar ng-show="!showSearch">
<div class="md-toolbar-tools">
	<md-button ng-click="toggleSidenav('left')" hide-gt-md
		aria-label="Menu"> <ng-md-icon icon="menu"></ng-md-icon> </md-button>
	<h3>Associates</h3>
	<span flex></span>
	<md-button class="md-fab md-raised md-mini " aria-label="FAB" ng-click="showCreateResidentForm()" ">
   		 		<ng-md-icon icon="add" class="md-icon"></ng-md-icon>
			</md-button>
          	<md-button class="md-fab md-raised md-mini " aria-label="FAB" ng-click="showImportResidentForm()" >
    			<ng-md-icon icon="insert_drive_file" class="md-icon"></ng-md-icon>
			</md-button>
</div>
</md-toolbar>
<md-content class="md-padding">
<table ng-table="residentsTable" class="table table-condensed table-bordered table-striped" show-filter="true">
	<tr ng-repeat="entry in $data">

		<td data-title="'First Name'" filter="{ firstName: 'text'}" sortable="'associate.firstName'">
			{{entry.associate.firstName}}</td>	
		<td data-title="'Last Name'" filter="{ lastName: 'text'}" sortable="'associate.lastName'">
			{{entry.associate.lastName}}</td>
		<td data-title="'Email'" filter="{ email: 'text'}" sortable="'associate.email'">
			{{entry.associate.email}}</td>
		<td data-title="'Room'" filter="{ unitNumber: 'number'}" sortable="'unit.unitNumber'">
			{{entry.unit.unitNumber}}</td>
		<td data-title="'Complex'" filter="{ complexName: 'text'}" sortable="'unit.complex.name'">
			{{entry.unit.complex.name}}</td>
		<td> <ng-md-icon ng-hide="entry.associate.hasCar==1" icon="directions_car"></ng-md-icon></td>
		<td>
			<md-button class="md-flat md-primary" data-title="'Associate Id'" ui-sref="home.showAssociate({associateId: entry.associate.associateId})">Profile</md-button>
		</td>
	</tr>
</table>

</md-content>

